@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Rubik:900');

* {
    box-sizing: border-box;
  }


body {
    background-color: #E1D7D4;
    font-family: 'Roboto Mono', monospace;
    font-weight: normal, 700;
}

.container { 
    margin: 0 auto;
    max-width: 400px;
}




head {
    display: flex;
    align-content: center;

}

h1 {
    display: flex;
    justify-content: center;
    color: #E34E45;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    
}

p {
    display: flex;
    justify-content: center;

}


.tables {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    border-radius: 2%;
    background-color: white;
}

.row {
    display: flex;
    align-content: center;
    
}

.table {
    text-align: center;
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    font-size: 12px;
    background-color: lightgray;

}

.table:hover {
    background-color:#ADAAAA;
}


.show {
    display:flex;

}

.hide {
    display:none;

}


.available {
    cursor: pointer;
    background-color: #EEE;
}

.reserved {
    cursor: not-allowed;
    background-color: #ADAAAA;
    color: white;
}


#form {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 120px auto;
    flex-direction: column;
    background-color: white;
    width: 60%;
    height: 60%;
    box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.3);
    border-radius: 2%;
    
   
}

#title-2 {
    justify-content: flex-start;
    margin: 20px 0px 10px 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;

}

#table-header {
    justify-content: flex-start;
    margin: 20px 10px 10px 20px;
}

.input-container {
    display:flex;
    flex-direction: column;
}

.input{
    margin: 10px;
    border-radius: 2%;


}

#save {
    background-color: #008000;
    color: white;
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.3);
    border-radius: 2%;
    margin-top: 25px;
    height: 30px

}


#exit-button {
    border-radius: 2%;
    margin-top: 5px;
    height: 30px;
    color: white;
    background-color: grey;
}
